{% extends 'book_app/base.html' %}

{% block navbar_one %}
{% endblock navbar_one %}

{% block content %}
    {% if form.surname %}
        <h1>Станица с добавлением автора</h1>
        <div class="block_form">
            <form action="" method="post">
                {% csrf_token %}
                {% for f in form %}
                    <p>{{ f.label }}</p>
                    <p>{{ f }}</p>
                {% endfor %}
                <input type="submit" value="Сохранить" class="btn">
                <a href="{% url 'add_book' %}"><button type="button" class="btn">Отменить</button></a>
            </form>
        </div>
    {% elif form.title %}
        <h1>Станица с добавлением жанра</h1>
        <div class="block_form">
            <form action="" method="post">
                {% csrf_token %}
                {% for f in form %}
                    <p>{{ f.label }}</p>
                    <p>{{ f }}</p>
                {% endfor %}
                <input type="submit" value="Сохранить" class="btn">
                <a href="{% url 'add_book' %}"><button type="button" class="btn">Отменить</button></a>
            </form>
        </div>
    {% endif %}
{% endblock content %}