{% extends 'book_app/base.html' %}

{% block navbar_two %}
{% endblock navbar_two %}

{% block content %}
    <h1>Главная страница</h1>
    <div class="block">
        <h3>Отказ от ответственности</h3>
        <div class="text">
            Отказ от ответственности
            В соответствии с действующим законодательством,
            Администрация отказывается от каких-либо заверений и
            гарантий, предоставление которых может иным образом
            подразумеваться, и отказывается от ответственности в
            отношении Сайта, Содержимого и их использования.<br>
            1. Размещаемая на страницах сайтов https://
            andreykhovratov.com/ и https://andreykhovratov.ru/ и их
            поддоменах информация предназначена для свободного
            ознакомления пользователей с вопросами, которые могут
            представлять для них интерес. <br>
            2. Вся информация предоставляется в исходном виде, без
            гарантий полноты или своевременности, и без иных, явно
            выраженных или подразумеваемых гарантий. Доступ к https://
            andreykhovratov.com/ и https://andreykhovratov.ru/ и их
            поддоменам, а также использование его содержимого
            осуществляется исключительно по вашему усмотрению и на
            ваш риск. <br>
            3. Администрация прикладывает все усилия, чтобы обеспечить
            пользователей точной и достоверной информацией, но в то же
            время не исключает возможности возникновения ошибок. <br>
            4. https://andreykhovratov.com/ и https://andreykhovratov.ru/ — это
            проекты, работающие по принципу «как есть», без заключения
            каких-либо договорённостей или договоров между вами,
            пользователями данного сайта, администрацией, владельцами
            серверов, на которых он размещён, либо кем-то ещё, любым
            образом связанными с этим или родственными ему проектами,
            которые (договора) могут стать предметом прямых претензий........
        </div>
        <h3>Телефон</h3>
        <p>(684)64345235</p>
        <h3>Почта</h3>
        <p>booksiteadmin@gmail.com</p>
    </div>
{% endblock content %}