{% extends 'book_app/base.html' %}

{% block navbar_one %}
{% endblock navbar_one %}

{% block content %}
    <h1>Update Book Page</h1>
    <div class="block_form">
        <form action="" method="post">
            {% csrf_token %}
            {% for f in form %}
                <p>{{ f.label }}</p>
                <p>{{ f }}</p>
            {% endfor %}
            <input type="submit" value="Обновить" class="btn">
            <a href="{% url 'list_book' %}"><button type="button" class="btn">Отменить</button></a>
        </form>
    </div>
{% endblock content %}